<div id ="avatars_for_rails">
<!--  
<div class= "block">
    <div class = "content">
      <%= form_for Avatar.new,:html => { :multipart => true,:id =>"uploadForm"} do |f| %>
        <div class="form_row">
          <%= f.file_field :logo %>

          <%= f.submit t('avatar.upload'), :class => "button" %>
        </div>
        <div id= "prueba">
        </div>
      <% end %>
    </div>
  
  </div>
-->
  <div class="files"> 
    <%= form_for Avatar.new, :html => { :class => "upload", :multipart => true } do |f| %>
      <%= f.file_field :logo, :id=> "avatar_logo_drag" %>
      <!--<div>Upload files</div>-->
      <%= f.hidden_field :drag %>
    <% end %>

    <table class="upload_files"></table>
    <table class="download_files"></table>
    <div id="show_pic"></div>
    <div id="show_crop"></div>
  </div>

  <div id= "precrop_drag_response"></div>
</div>


<% content_for :javascript do%>
$(document).ready(function() { 
    var options = { 
        target: '#precrop_drag_response',
        success: showResponse
    }; 
 
    $('#uploadForm').submit(function() { 
        $(this).ajaxSubmit(options); 
        return false; 
    }); 
}); 

function update_crop(coords) {
  var rx = 100/coords.w;
  var ry = 100/coords.h;
  
  if((coords.w == 0) || (coords.h == 0)){
    rx = 100/$("#cropImage").width();
    ry = 100/$("#cropImage").height();
    coords.x = 0;
    coords.y = 0;
  }  
  
  $('#preview').css({
    width: Math.round(rx * $("#cropImage").width()) + 'px',
    height: Math.round(ry * $("#cropImage").height()) + 'px',
    marginLeft: '-' + Math.round(rx * coords.x) + 'px',
    marginTop: '-' + Math.round(ry * coords.y) + 'px'
  });
  var ratio = 1;
  $("#crop_x").val(Math.round(coords.x * ratio));
  $("#crop_y").val(Math.round(coords.y * ratio));
  $("#crop_w").val(Math.round(coords.w * ratio));
  $("#crop_h").val(Math.round(coords.h * ratio));
}

function showResponse(responseText, statusText, xhr, $form)  { 
        jQuery('#cropImage').Jcrop({
            bgColor:     'clear',
            bgOpacity:   .6,
            setSelect:   [ 0, 0, 200, 200 ],
            aspectRatio: 1 ,
            onChange: update_crop,
            onSelect: update_crop
        }); 
} 





  $(function () {
      $('.upload').fileUploadUI({
          uploadTable: $('.upload_files'),
          downloadTable: $('.download_files'),
          buildUploadRow: function (files, index) {
              var file = files[index];
              return $('<tr><td>' + file.name + '<\/td>' +
                      '<td class="file_upload_progress"><div><\/div><\/td>' +
                      '<td class="file_upload_cancel">' +
                      '<div class="ui-state-default ui-corner-all ui-state-hover" title="Cancel">' +
                      '<span class="ui-icon ui-icon-cancel">Cancel<\/span>' +
                      '<\/div><\/td><\/tr>');
          },
          buildDownloadRow: function (file) {
              
          },
          onComplete: function (event, files, index, xhr, handler) { 
             $.ajax({
                type: "GET",
                url: "/avatars/new/?drag_name=" + handler.response.name,
                success: function(data){
                         $("#precrop_drag_response").html(data);
                                 jQuery('#cropImage').Jcrop({
                                    bgColor:     'clear',
                                    bgOpacity:   .6,
                                    setSelect:   [ 0, 0, 200, 200 ],
                                    aspectRatio: 1 ,
                                    onChange: update_crop,
                                    onSelect: update_crop
                                }); 
                         }
                });
          }
      });
  }); 







 <% end %>

