<br class="clearfloat" />
<div class="space_center"></div>
<div class="space_center"></div>
<% unless(@avatars.empty? || (@avatars.first.present? && @avatars.first.id.blank?)) %>
  <h2><%=t('avatar.text.use') %></h2>
  <div class="space_center"></div>
  <div class="space_center"></div>
  <div class="avatars" id="all_avatars">
  <% @avatars.each do |avatar| %>
    <% unless avatar.id.blank? %>
      <%= div_for(avatar) do %>
        <div class="boxgrid captionfull">
          <%= image_tag(avatar.logo.url(:profile), :class => avatar.active ? 'default' : 'non_default', :size => '94x94', :id => "avatar_img_#{avatar.id}") %>
          <div class="cover boxcaption"> 
            <%= link_to "Set as default", avatar, :confirm => t('avatar.set_default_sure'), :method => :put, :remote => true, :id => "avatar_link_#{avatar.id}", :style => avatar.active ? 'display:none;': 'display:solid;' %>
            <%= link_to "Delete avatar", avatar, :confirm => t('avatar.destroy_sure'), :method => :delete, :remote => true %>
          </div>  
         </div>        
      <% end %>
      <% end %>
  <% end %>
  </div>
  <br />
  <br class="clearfloat" />
  <div class="space_center"></div>
  <div class="space_center"></div>
  <h2><%=t('avatar.text.new') %></h2>
<% else %>
  <h2><%= t('avatar.new') %></h2>
<% end %>