<% if params[:drag_name].blank? %>
  <% my_file_name = File.basename(@avatar.logo.queued_for_write[:original].path.to_s) %>
<% else %>
  <% my_file_name = params[:drag_name].to_s %>
<% end %>

<% if Avatar.check_image_tmp_valid(my_file_name) %>
  <div class = "block">
    <div id="precropPrev" >
      <div class="form_row">
        <%= t('avatar.preview') %>
      </div>
      <div id="precropPrevImg" class="logo">
        <%= image_tag Avatar.image_tmp_path(my_file_name) ,:id=>"preview" %>
      </div>  
    </div>
    
    <div class="form_row">
      <%= t('avatar.original') %>
    </div>
    
    <div id="precropDiv" class = "block title content">
    	<%= image_tag Avatar.image_tmp_path(my_file_name) ,:id=>"cropImage" %>
    </div>
  </div>
  
  <%= form_for @avatar, :html => { :multipart => true } do |f| %>
  <div class= "block">
    <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
      <%= f.hidden_field attribute, :id => attribute %>
    <% end %>
  	<%= f.hidden_field :name, :value => my_file_name %>
  	  <div class="form_row center">
    <%= f.submit t('avatar.crop_submit'), :class => "button" %>
    </div>
    </div>
  <% end %>
<% end %>
